
html, body { height: 100%; }
body { margin: 0; font-family: 'Times New Roman', Times, serif, "Helvetica Neue", sans-serif; }
.snackbar-success {
  background: #43a047 !important; 
  color: white !important;
  font-weight: 500;
}
